<ion-view title="Alterar Senha" id="page8">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-lock-combination"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    
    <form id="alterarSenha-form5" class="list">
      <ion-list id="alterarSenha-list3">
        <label class="item item-input" id="alterarSenha-input12">
          <span class="input-label">Operador</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="alterarSenha-input13">
        <span class="input-label">Senha Atual</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="alterarSenha-input14">
        <span class="input-label">Nova Senha</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="alterarSenha-input15">
        <span class="input-label">Repertir Senha</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 57px;"></div>
      <button id="alterarSenha-button14" class="button button-balanced boleado button-block">Confirmar</button>
    </form>
    <a ui-sref="home.configuraEs" id="alterarSenha-button15" class="button button-assertive boleado button-block">Cancelar</a>
  </ion-content>
</ion-view>