<ion-view title="Inicio" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div>
      <a ui-sref="home.jogos" id="inicio-button1"  class="button button-positive boleado  button-full icon-left ion-ios-paw">Jogar</a>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <a ui-sref="home.resultado" id="inicio-button2"  class="button button-balanced boleado button-full icon-left ion-ios-pulse">Resultado</a>
    </div>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div id="inicio-button-bar1" class="button-bar"></div>
    <div>
      <a ui-sref="home.relatRios" id="inicio-button3"  class="button button-assertive boleado button-full icon-left ion-clipboard">Relatório</a>
    </div>
  </ion-content>
</ion-view>