<ion-view title="Login" id="page6">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Operador</span>
          <input type="text">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 15px;"></div>
      <label class="item item-input" id="login-input3">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 53px;"></div>
      <a ui-sref="home.inicio" id="login-button10" style="font-weight:500;font-size:16px;border-radius:12px 12px 12px 12px;" class="button button-positive  button-block">Entrar</a>
    </form>
  </ion-content>
</ion-view>